<div id="wrapper">
	<div class="banner">Bike Trip Planner</div>
  <div id="google-map-panel">
  		<input id="start" class="controls" type="text" value="20 Queen Street, Melbourne, Victoria, Australia" placeholder="Start: ">
      <input id="end" class="controls" type="text" value="101 Collins Street, Melbourne, Victoria, Australia" placeholder="End: ">
      <button id="go" class="buttonArrows">Find My Route</button>
  </div>
	<div id="google-map"></div>
	  <!-- html slope canvas and gui -->
	  <div id="threeD-Map" class="medium">
	    <canvas ></canvas>
	    <!-- ➜ -->
			<div class="threeD-Map-button-panel">
			  <button class="buttonArrows" id="left">←</button>
			  <button class="buttonArrows" id="right">→</button>

			  <button class="buttonArrows"  id="up">↑</button>
			  <button class="buttonArrows"  id="down">↓</button>

			  <button class="buttonArrows upsideDown" id="zoomIN">+☌</button>
			  <button class="buttonArrows upsideDown"  id="zoomOUT">-☌</button>
			</div>

		  <div class="threeD-Map-output">
			  <div id="travel-distance">
			      Distance:
			      <span id="distance" class="textright"></span>
			  </div>
			  <div>
			      Travel Time:
			      <span id="travel-time" class="textright"></span>
			  </div>
			  <div>
			      Uphill total:
			      <span id="climb" class="textright"></span>
			  </div>
			  <div>
			      Downhill:
			   <span id="descent" class="textright"></span>
			  </div>
		  </div>
	</div>
</div>
<script>
	// route finding javascipt code

</script>


