/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*----Mobile----*/

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    width: 100%;
    height: 100%;
}
.banner {
    color: #414048  ;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 0 5% 0.2em 5%;
    padding: 0.1em 0 0.1em 0;
}
/*Input boxes*/
#circle-red, #circle-green {
    color: white;
    padding: 1em;
    /*height: 1em;*/
    /*text-align: center;*/
    /*display: inline-block;*/
}
#circle-red {
    background: #b30707;
}
#circle-green {
    background: #339933;
}
#go, #start, #end {
    height: 1.5em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    width: calc(98% - 2em);
}
#go {
    width: 100%;
    margin-bottom: 0.5em;
}
/*map button & directions */
#google-map-panel {
    margin: 0% 5% 0% 5%;
}
#google-map {
    height: 50%;
    width: 90%;
    margin-left: 5%;
}

#threeD-Map {
    top: 0;
    right: 0;
    margin: 2% 2% 2% 5%;
    border: solid black 5px;
}
/*canvas map transformation*/

.upsideDown {
    transform: rotate(-180deg);
}
/*canvas buttons*/

button .buttonArrows {
    width: 3em;
    height: 4em;
    margin-left: calc((88% - 24em)/12);
    margin-right: calc((88% - 24em)/12);
}
#threeD-Map button.buttonArrows {
    font-size: 2em;
}
.threeD-Map-button-panel {
    width: 90%;
    text-align: center;
    margin: 2% 2% 2% 5%;
}
.threeD-Map-output {
    width: 90%;
    margin: 0% 0% 0% 5%;
    border: solid green 5px;
}
.canvas-data {
    text-align: right;
}
/*----Desktop----*/

/*@media all and (min-width: 1000px) {
    .banner {
    color: #414048  ;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 0 5% 0.2em 5%;
    padding: 0.1em 0em 0.1em 0em;
}*/
    /*directions button*/
    
    /*.controls {
        font-size: 1em;
    }
    button .buttonArrows {
        width: 4em;
        height: 2em;
    }
    
    #google-map-panel {
        margin: 0% 5% 0% 5%;
    }
    #google-map {
        width: 42%;
        height: 50%;    
        margin: 2% 2% 0% 5%;
        display: inline-block;
    }
    #threeD-Map {
        height: 50%;
        width: 42%;    
        margin: 2% 5% 0% 2%;
        display: inline-block;
    }
    .threeD-Map-button-panel {
        width: 40%;
        margin: 2% 2% 2% 5%;
    }
}*/